doctype html
html(lang="no")
	head
		title
		include includes/meta
		// Ekstra ting her

	body
		include includes/menu
		.inner.margin-top
			section.content-wrapper.full-width-section.index-section-1
				.inner
					.two-column.test
					.two-column.test
			section.content-wrapper
				p ipsum dolore dolor ipsum malis dolor quorum quis veniam fore noster quae elit 
					| export duis malis ipsum nulla quis multos velit quem anim quis enim culpa dolor 
					| velit elit irure cillum culpa duis duis dolore anim cillum dolor ipsum fugiat
			section.content-wrapper
				p ipsum dolore dolor ipsum malis dolor quorum quis veniam fore noster quae elit 
					| export duis malis ipsum nulla quis multos velit quem anim quis enim culpa dolor 
					| velit elit irure cillum culpa duis duis dolore anim cillum dolor ipsum fugiat
			section.content-wrapper
				p ipsum dolore dolor ipsum malis dolor quorum quis veniam fore noster quae elit 
					| export duis malis ipsum nulla quis multos velit quem anim quis enim culpa dolor 
					| velit elit irure cillum culpa duis duis dolore anim cillum dolor ipsum fugiat
		include includes/footer
