doctype html
html(lang="no")
	head
		title
		include includes/meta
		// Ekstra ting her

	body
		include includes/menu
		.inner.margin-top
			section.content-wrapper.full-width-background.index-section-1
				.two-cols
					.index-sec1-text
						h1 Push-to-talk app
						p Vi tilbyr en smartere måte å kommunisere med hverandre i en gruppe, unasett hvor du er. Kombiner Walkie-talkie og smarttelefoner.
					.index-sec1-img
						h1 Hei
			section.content-wrapper
				p ipsum dolore dolor ipsum malis dolor quorum quis veniam fore noster quae elit 
					| export duis malis ipsum nulla quis multos velit quem anim quis enim culpa dolor 
					| velit elit irure cillum culpa duis duis dolore anim cillum dolor ipsum fugiat
			section.content-wrapper
				p ipsum dolore dolor ipsum malis dolor quorum quis veniam fore noster quae elit 
					| export duis malis ipsum nulla quis multos velit quem anim quis enim culpa dolor 
					| velit elit irure cillum culpa duis duis dolore anim cillum dolor ipsum fugiat
			section.content-wrapper
				p ipsum dolore dolor ipsum malis dolor quorum quis veniam fore noster quae elit 
					| export duis malis ipsum nulla quis multos velit quem anim quis enim culpa dolor 
					| velit elit irure cillum culpa duis duis dolore anim cillum dolor ipsum fugiat
		include includes/footer
