doctype html
html(lang="no")
	head
		title Kontakt Oss
		include includes/meta
		// Ekstra ting her
		script(src="js/form-validation.js")

	body
		include includes/menu

		.inner.margin-top
			.margin-top
				.grid.goodshit
					.grid__col.grid__col--4-of-12
						.contact-box
							.card
								.card-icon
									i.fa.fa-phone.fa-5x
								.card-container
									h4
										b Telefon
									p 976 56 976
					.grid__col.grid__col--4-of-12
						.contact-box
							.card
								.card-icon
									i.fa.fa-envelope.fa-5x
								.card-container
									h4
										b E-mail
									p johannes@pttcommunication.com
					.grid__col.grid__col--4-of-12
						.contact-box
							.card
								.card-icon
									i.fa.fa-home.fa-5x
								.card-container
									h4
										b Adresse
									p Sandvika, Norge
			.contact-form.margin30-top
				.grid.light-blue-back.left-margin-0
					.grid__col.grid__col--8-of-12
						form(method="post", action='#', enctype="multipart/form-data").grid.contact-form.validate
							.grid__col.grid__col--4-of-12
								label Ditt navn
								br
								span.required
									input(type="text", name='name')
							.grid__col.grid__col--4-of-12
								label Din email
								br
								span.required
									input(type='email', name='email')
							.grid__col.grid__col--4-of-12
								label Emne
								br
								span.required
									input(type='text', name='emne')
							.grid__col.grid__col--12-of-12.contact-your-message
								label Din beskjed
								br
								span.required
									textarea(name='your-message', autofocus, cols='50', rows='10')
							.grid__col.grid__col--12-of-12
								input.submit-button(type='submit', value='Send')

					.grid__col.grid__col--4-of-12.center.contact-message
						h2 Kontakt oss!
						h4 Vi svarer din henvendelse direkte på epost så fort vi kan.




		//Eksempel for form validering
			form(method="post", action="#", enctype="multipart/form-data").validate
				.required
					input.name(type="text" placeholder="Navn")
				.required
					input.phone(type="tel" placeholder="Telefon")
				.required
					input.email(type="email" placeholder="Epost")
				.checkboxes
					p Ønsker info om
					input(type="checkbox" id="private-market" name="private-market")
					label(for="private-market") Privatmarked
					input(type="checkbox" id="commercial-market" name="commercial-market")
					label(for="commercial-market") Bedriftsmarked
				.required
					textarea
				input(type="submit" value="Send")

		include includes/footer
