doctype html
html(lang="no")
	head
		title Kontakt Oss
		include includes/meta
		// Ekstra ting her

	body
		include includes/menu

		.contact-container
			.contact-boxes
				.grid
					.grid__col.grid__col--4-of-12
						.contact-box
							.contact-icon-box
								i.fa.fa-phone.contact-icon
							.contact-box-text
								h2.contact-box-head Ring oss
								h4.contact-box-subhead +47 976 56 976
					.grid__col.grid__col--4-of-12
						.contact-box
							.contact-icon-box
								i.fa.fa-envelope.contact-icon
							.contact-box-text
								h2.contact-box-head E-mail
								h4.contact-box-subhead johannes@pttcommunication.com
					.grid__col.grid__col--4-of-12
						.contact-box
							.contact-icon-box
								i.fa.fa-home.contact-icon
							.contact-box-text
								h2.contact-box-head Adresse
								h4.contact-box-subhead Sandvika, Norge
			.contact-form


		include includes/footer
