doctype html
html(lang="no")
	head
		title Kontakt Oss
		include includes/meta
		// Ekstra ting her
		script(src="js/form-validation.js")

	body
		include includes/menu

		.contact-container
			.contact-boxes
				.grid
					.grid__col.grid__col--4-of-12
						.contact-box
							.contact-icon-box
								i.fa.fa-phone.contact-icon
							.contact-box-text
								h2.contact-box-head Ring oss
								h4.contact-box-subhead +47 976 56 976
					.grid__col.grid__col--4-of-12
						.contact-box
							.contact-icon-box
								i.fa.fa-envelope.contact-icon
							.contact-box-text
								h2.contact-box-head E-mail
								h4.contact-box-subhead johannes@pttcommunication.com
					.grid__col.grid__col--4-of-12
						.contact-box
							.contact-icon-box
								i.fa.fa-home.contact-icon
							.contact-box-text
								h2.contact-box-head Adresse
								h4.contact-box-subhead Sandvika, Norge
			.contact-form
				.grid
					.grid__col.grid__col--6-of-12
						form(action='/send-email.php').grid.contact-form
							.grid__col.grid__col--4-of-12
								label Ditt navn*
								br
								span
									input(type='text', name='your-name', value='')
							.grid__col.grid__col--4-of-12
								label Din email*
								br
								span
									input(type='text', name='your-email', value='')
							.grid__col.grid__col--4-of-12
								label Emne
								br
								span
									input(type='text', name='emne', value='')
							.grid__col.grid__col--12-of-12.contact-your-message
								label Din beskjed
								br
								span
									textarea(name='your-message', cols='50', rows='10')
							.grid__col.grid__col--12-of-12
								input(type='submit', value='Send')

					.grid__col.grid__col--6-of-12.contact-bigtext
						h2 Kontakt oss!
						h4 Vi svarer din henvendelse direkte på epost så fort vi kan.
						
			// Eksempel for form validering
			form(method="post", action="#", enctype="multipart/form-data").validate
				.required
					input.name(type="text" placeholder="Navn")
				.required
					input.phone(type="tel" placeholder="Telefon")
				.required
					input.email(type="email" placeholder="Epost")
				.checkboxes
					p Ønsker info om 
					input(type="checkbox" id="private-market" name="private-market")
					label(for="private-market") Privatmarked
					input(type="checkbox" id="commercial-market" name="commercial-market")
					label(for="commercial-market") Bedriftsmarked
				.required
					textarea
				input(type="submit" value="Send")

		include includes/footer
