doctype html
html(lang="no")
	head
		title 
		include includes/meta
		// Ekstra ting her
		script(src="js/collapsible-panels.js")
	body
		include includes/menu
		
		.inner.margin-top
					
			section.two-cols.text-left-img-right.content-wrapper
				.text-wrapper
					h2 GroupTalks "push to talk-løsning" er telefon / nettbrett uavhengig
					p Vil fungere på Android-enheter fra versjon 4.2, Iphone IOS versjon 6 og senere. Vi skjønner imidlertid at 
						| for mange av våre brukere er behovet for tilbehør avgjørende for en effektiv løsning.
					p Utvalget av mobiltelefoner og nettbrett er for tiden langt større enn tilførselen av relevante PTT-tilbehør. 
						| Dette, sammen med antall operasjonsdialekter, gjør det umulig for oss å holde oversikt over alle kombinasjoner 
						| når som helst.
					p Vi har derfor valgt å fokusere på ett sett med tilbehør og teste dette mot et begrenset antall telefoner. Trenger 
						| du andre kombinasjoner eller tilbehør, bare kontakt oss, vi kommer til langt for å finne riktig utstyr.
					p I listen til høyre finner du kombinasjoner vi har testet og annen relevant informasjon. 
					p What the fuck 
					p Hvilken liste?
				.img-wrapper
					img(src="https://picsum.photos/800/600" alt="")
					
		include includes/footer
