img
    width: 100%

.center
    text-align: center

.inner
    width: 90%
    max-width: 1200px
    margin: 0 auto
    padding: 0

.content-wrapper
    padding: 2rem 0 0
    overflow: hidden

.hr-style
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

.light-blue-text
    color: $light-blue

// Skal stemme overens med høyden til nav i menyen
.margin-top
    margin-top: 80px

@media(max-width: 700px)
	.margin-top
		margin-top: 60px

section:last-child
    padding-bottom: 2rem

//For making background full width and reapplying inner for next div (Requires a wrapper div as child)

.full-width-background
    width: 100vw
    margin-left: calc(-50vw + 50%)
    height: auto
    > div
        width: 90%
        max-width: 1200px
        margin: 0 auto
        padding: 0

// --- two-cols ---
.two-cols
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-between

	> div
		width: 48%

@media(max-width: 750px)
	.two-cols > div
		width: 100%
// end of two-cols

// --- three-cols ---
.three-cols
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-between

	div
		width: 30%

@media(max-width: 750px)
	.three-cols > div
		width: 100%
		padding-bottom: 2rem

		&:last-child
			padding-bottom: 0
// end of three-cols

// --- four-cols ---
.four-cols
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	> div
		width: 25%

@media(max-width: 1000px)
	.four-cols > div
		width: 50%
	.four-cols:nth-child(-n+2)
        padding-bottom: 0

@media(max-width: 750px)
	.four-cols > div
		width: 100%
		padding-bottom: 2rem


// end of four-cols

// --- text-left-img-right ---
@media(max-width: 900px)
	.text-left-img-right
		div
			width: 100%
		div:first-child
			margin-bottom: 1rem
// end of text-left-img-right

// --- Collapsible panels list ---
.collapsible-panels-list
	.panel
		background: $light-gray
		border: 1px solid #f0f0f0
		cursor: pointer
		margin-bottom: 1rem
		&:hover
			.panel-header
				background: $dark-blue
				color: $white

				.toggle-panel-icon
					background-image: url("../img/icons/arrow-right-offwhite.svg")
	.panel-header
		padding: 1rem
		display: flex
		align-content: center

		.toggle-panel-icon
			display: inline-block
			width: 17px
			height: 17px
			position: relative
			top: 3px

		p
			margin-left: 0.5rem

	.panel-content
		display: none
		padding: 1rem
		background: $white
		border: 1px solid $dark-blue

	.panel-content.is-open
		display: block

	.panel.active
		.panel-header
			background: $dark-blue
			color: $white
			.toggle-panel-icon
				background-image: url("../img/icons/arrow-down-offwhite.svg")

	// Fix for hover state sticking on mobile until clicking elsewhere
	.panel.mobile-hover-fix
		.panel-header
			background: $light-gray
			color: $gray
			.toggle-panel-icon
				background-image: url("../img/icons/arrow-right-black.svg")
// end of collapsible-panels-list
