img
    width: 100%

.center
    text-align: center

.inner
    width: 90%
    max-width: 1200px
    margin: 0 auto
    padding: 0

.content-wrapper
    padding: 2rem 0 0
    overflow: hidden

.full-width-section
    width: 100vw
    margin-left: calc(-50vw + 50%)
    height: auto

.two-column
    width: 50%
    min-height: 200px
    display: inline-block


// Skal stemme overens med høyden til nav i menyen
.margin-top
    margin-top: 80px

@media(max-width: 700px)
	.margin-top
		margin-top: 60px

section:last-child
    padding-bottom: 2rem
