// Kontaktskjema
.contact-form
    padding-top: 30px
    padding-bottom: 30px
    textarea
        width: 99%
    .submit-button
        border: 1px solid $gray
        padding: 5px
        margin-top: 10px

.left-margin-0
    margin-left: 0px

.contact-your-message
    padding: 30px

.contact-message
    padding-left: 30px
    h2,
    h4
        padding-top: 30px
        width: 80%

.light-blue-back
    background-color: lighten( $light-blue, 40% )

.goodshit
    margin: auto

// Kort
.contact-box
    margin: auto
    text-align: center
    .card
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
        transition: 0.3s
        border-radius: 5px
        text-align: center
        padding: 25px 5px 5px 5px
        margin-top: 15px
        width: 75%
        min-width: 290px
        &:hover
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
        .card-container
                padding: 2px 16px
        .card-icon
            background-color: $light-blue
            width: 75%
            height: 150px
            dsiplay: block
            color: $white
            display: inline-block
            text-align: center
            margin: 20px 0px 20px 0px
            i
                margin-top: 35px
