.footer
    // position: fixed
    // left: 0
    // bottom: 0
    width: 100%
    background-color: $gray
    color: white
    text-align: center
    padding-top: 40px

.footer-img
    width: 200px
    height: auto

.footer-copyright
    background-color: darken( $gray, 5%)
    padding-top: 20px
    padding-bottom: 20px

.copyright-left
    float: left

.copyright-right
    float: right

.copyright-left,
.copyright-right
    margin-bottom: 0px
    padding: 20px

.footer-info-list
    list-style-type: none

.footer-info-list-item
    text-align: left
