.index-section-1
    background-color: $light-blue
    color: $white
    > div
        height: 35rem
        align-items: center
        > div
            text-align: center
.index-sec1-text
    > h1
        font-size: 4rem
        margin-bottom: 5rem
