@import "../modules/_fonts"
@import "../modules/_colors"

*
    font-family: $open-sans

body
    font-size: 100%

h1, h2, h3, h4, p, a
	margin: 0
	padding: 0

h1, h2, h3, h4
    // color: $black

h1
    font-size: 4rem
    font-weight: 400

h2
    font-size: 1.8rem
    font-weight: 400
    margin-bottom: 0.8rem

h3
    font-size: 1.5rem
    font-weight: 400
    margin-bottom: 0.2rem

h4
    font-size: 1.2rem
    margin-bottom: 0.2rem

p
    font-size: 1rem
    line-height: 1.4
    margin-bottom: 1rem
    font-family: $open-sans
    &:last-of-type
        margin-bottom: 0

a
    font-size: 1rem
    text-decoration: none
    &:hover
        text-decoration: underline
.bold, b
    font-weight: 700
