footer
    footer-content
        .container
            .grid
                .grid__col.grid__col--4-of-12
                    img.footer-logo(src="https://picsum.photos/100/100?random", alt="Logo")
                    p Vår løsning er en god måte å kommunisere på kryssplattformer, gamle walkie talkies og nye, moderne mobiltelefoner.
                    a(href="losning.html") Les mer
                    ul
                        li Adresse
                        li Epost
                        li Tlf
                .grid__col.grid__col--4-of-12
                    h3 Åpningstider:
                    p Man-Fre 08:00 - 18:00
                    p Lør-Søn Closed
                .grid__col.grid__col--4-of-12
                    h3 Kunde login:
                    a(href="#") Web-Dispatcher

                .grid__col.grid__col--12-of-12
                    p Copyright 2016. All Rights Reserved.
                    p Powered by Group Talk AB