footer
    footer-content
        .container
            .grid
                .grid__col.grid__col--4-of-12
                    p Hello
                .grid__col.grid__col--4-of-12
                    p Hello
                .grid__col.grid__col--4-of-12
                    p Hello

                .grid__col.grid__col--12-of-12
                    p Copyright