.footer
    .grid
        .grid__col.grid__col--12-of-12.footer-content
            .container
                .grid.footer-grid
                    .grid__col.grid__col--4-of-12
                        h3 Løsning
                        p.footer-description Vår løsning er en god måte å kommunisere på kryssplattformer, gamle walkie talkies og nye, moderne mobiltelefoner 
                            a(href="losning.html") Les mer
                        ul.footer-info-list
                            li.footer-info-list-item
                                a(href="")
                                    i.fa.fa-home
                                        span ADRESSE
                            li.footer-info-list-item
                                a(href="")
                                    i.fa.fa-envelope
                                        span johannes@pttcommunication.no
                            li.footer-info-list-item
                                a(href="")
                                    i.fa.fa-phone
                                        span 976 56 976
                    .grid__col.grid__col--4-of-12
                        h3 Åpningstider:
                        p Man-Fre 08:00 - 18:00
                        p Lør-Søn Stengt
                    .grid__col.grid__col--4-of-12
                        h3 Kunde login:
                        a(href="#") Web-Dispatcher

        .grid__col.grid__col--12-of-12.footer-copyright
            p.copyright-left Copyright 2016. All Rights Reserved.
            p.copyright-right Powered by Group Talk AB
             .footer-logo-wrapper
                            a(href="index.html")
                                img.footer-img(src="img/icons/ptt-logo.png")