#menu
	nav.inner
		.logo-wrapper
			a(href="index.html")
				img(src="img/icons/ptt-logo.png")
		#menu-normal
			a.nav-link(href="index.html") Forside
			a.nav-link(href="losning.html") Vår løsning
			a.nav-link(href="tilbehor.html") Mobiltelefoner og tilbehør
			a.nav-link(href="alarm.html") Alarm
			a.nav-link(href="tips-triks.html") Tips og triks
			a.nav-link(href="om-oss.html") Om oss
			a.nav-link(href="kontakt-oss.html") Kontakt oss
		
		#menu-mobile
			.toggle-menu
				span.icon.menu-icon Meny 
			.menu-content
				a.nav-link(href="index.html") Forside
				a.nav-link(href="losning.html") Vår løsning
				a.nav-link(href="tilbehor.html") Mobiltelefoner 
					span og tilbehør
				a.nav-link(href="alarm.html") Alarm
				a.nav-link(href="tips-triks.html") Tips og triks
				a.nav-link(href="om-oss.html") Om oss
				a.nav-link(href="kontakt-oss.html") Kontakt oss
					
