meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
// jQuery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
// Toast
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toast-css/1.1.0/grid.css" integrity="sha256-xrs2H9mzHulxCBCQUxJvzKIElYBu0hNj1Q5xor0/niU=" crossorigin="anonymous" />
// Styling
link(rel="stylesheet", type="text/css", href="css/styles.css")
// Fonts
// JS
script(src="js/menu.js")
